# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.pytest_cache/

# Data and Models (Too big for Github)
data/
models/
outputs/
logs/
Project_Llama3.zip

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
